%% vim: ft=erlang

{sub_dirs, [
	"libs/jiffy",
	"libs/epgsql"

]}.

{lib_dirs, ["/usr/local/lib", "/usr/lib"]}.

% == EUnit ==
%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts from above is also used
{eunit_compile_opts, []}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enable, false}.

